@keyframes floatingUp {
    0% {
        transform: translateY(0);
    }

    66% {
        transform: translateY(-15px);

    }

    100% {
        transform: translateY(0);

    }
}

@keyframes floatingDown {
    0% {
        transform: translateY(0);
    }

    66% {
        transform: translateY(15px);

    }

    100% {
        transform: translateY(0);

    }
}